@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;600&display=swap');

body {
    background-color: #3B85B0;
    font-family: 'Mitr', sans-serif;
    text-align: center;
}

/* Styling the Form (Color, Padding, Shadow) */
.form {
    background-color: #fff;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: white;
}

td {
    padding: 0 15px;
}

.slip-data {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 15px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
		select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: none;
    border-bottom: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 100%;
}

.form-control input[type=file] {
    border: none;
}

/* Styling form-control Radio
		button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

#filtersubmit {
    position: relative;
    z-index: 1;
    left: 97%;
    top: -30px;
    color: #7B7B7B;
}

.mostleft {
    position: relative;
    left: 98%;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexstart {
    justify-content: flex-start;
}

.flexcenter {
    display: flex;
    justify-content: center;
}

.icon_pointer {
    cursor: pointer;
}

.title {
    text-align: center;
    padding-top: 20px;
}

#allProducts {
    padding-left: 20px;
    height: 40px;
    font-size: 18px;
}

/* Styling Button */
.button-17 {
    background-color: #fff;
    border: 1px solid #777;
    font-family: inherit;
    align-items: center;
    appearance: none;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3B85B0;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.bottom {
    margin-bottom: 150px;
}

.red-text {
    color: red;
}

.w47 {
    width: 47%;
}

.btnupload,
.btnupload:active,
.btnupload:focus {
    border: 1px solid rgb(177, 175, 175);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    padding: 20px;
    box-shadow: none !important;
}

.btnslip,
.btnslip:active,
.btnslip:focus {
    border: 1px solid rgb(177, 175, 175);
    background-color: #3B85B0;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    padding: 20px;
    box-shadow: none !important;
}

#log>div {
    color: #313131;
    border-top: 1px solid #dadada;
    padding: 9px;
    display: flex;
}

#log>div:first-child {
    border: 0;
}


.status {
    min-width: 250px;
}

#log {
    border: 1px solid #dadada;
    padding: 10px;
    margin-top: 20px;
    min-height: 100px;
}

body {
    font-family: sans-serif;
    margin: 30px;
}

progress {
    display: block;
    width: 100%;
    transition: opacity 0.5s linear;
}

progress[value="1"] {
    opacity: 0.5;
}